---
layout: layout.liquid
title: Interstellar Explorer
---


<section id="image-slider">
    <h2>My Favorite Sights</h2>

        <!-- Following script from https://www.w3schools.com/howto/howto_js_slideshow.asp -->
        <div class="slideshow-container">

        <div class="mySlides fade">
        <img src="images/asteroid-belt.png" style="width:100%">
        <div class="text">Milky Way Outer Asteroid Belt</div>
        </div>

        <div class="mySlides fade">
        <img src="images/deep-space.png" style="width:100%">
        <div class="text">Deep Space Between Milky Way and Alhpa Centauri</div>
        </div>

        <div class="mySlides fade">
        <img src="images/jupiter-moons.png" style="width:100%">
        <div class="text">The Many Moons of Jupiter</div>
        </div>

        </div>
        <br>

        <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        </div>

        <script src="scripts/slide.js"></script>

    <!-- Script block end -->
</section>


<!--- Unsure how to implement
<img alt="United States banner" src="/images/banner.png" class="banner" id="left-banner"/>
<img alt="United States banner" src="/images/banner.png" class="banner" id="right-banner"/>
-->


<section id="blogs">
    <ul>
        <li>  {% blogs "Unexpected Companion: My First Asteroid Encounter" "/repair-blog/" "/images/deep-space.png" "blog cover image" %} </li>
        <li>  {% blogs "Breaking News: Uncharted Planet Discovered in Alpha Centauri System!" "/discovery-blog/" "/images/distant-planet.png" "blog cover image" %} </li>
    </ul>
</section>

<script src="scripts/alert.js"></script>



<!---
SOURCES
https://onlinepngtools.com/generate-white-noise-png for Space Images (White Noise images)

Claude 3.5 Sonnet (Anthropic) for copy
Prompts:
- Hello Claude. Today you will be playing a character who is creating copy for a website. I am making a blog from the perspective of a fictional robot named Sherman XII(12), which is a discovery drone sent into space by the United States government with the purpose of travelling to Alpha Centauri and making discoveries there, taking photos, and informing the masses of these discoveries. I will prompt you with the context of the copy you are writing and then you will respond, in character as Sherman XII. Please write in a markdown format when applicable. First of all, you need to write your About page, your response should be of a moderate length, explain your purpose and your mission.
- Now there was one hiccup with your take off, when getting ready for your journey your camera sustained some damage, you aren't sure exactly how bad it is, but you hope for the best. Here you are writing a short blurb to include in a js alert upon the blog being opened
- Alright, so your first full blog is about a time an asteroid hit you in the outer Milky Way, you should describe the story in your own style and tell the readers how you solved the problem, feel free to take this in your own direction, this is your blog
- Alright you have arrived in Alpha Centauri MANY years later! and have just discovered a new planet that was missed by earth astronomers. This is your moment, you will soon land on the planet but you wanted to write a blog to update people.
-->